<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {%include "navpage.html"%}
    <div class="container">
      <h3>Upload a picture and see if it's a picture of Wanted Person</h3>
      <form method="POST" enctype="multipart/form-data">
        <input
          class="form-control"
          accept="image/png, image/jpeg"
          type="file"
          name="file"
          id="photo"
        />
        <input
          class="btn btn-primary mt-2"
          type="submit"
          value="Upload"
          onclick="modal()"
        />
      </form>
    </div>
    {%include "loading.html"%}
  </body>
</html>
{%include "loadjs.html"%}
<script>
  function modal() {
    $(".modal").modal("show");
  }
  $("#photo").on("change", function () {
    $(".modal").modal("show");
    new Compressor(this.files[0], {
      quality: 0.4,
      success(result) {
        $("#photo").prop("value", result);
      },
    });
    setTimeout(function () {
      $("#modalLoading").modal("toggle");
    }, 3000);
  });
</script>
