<body>
  {%include "navpage.html"%}
  <div class="container">
    <form id="formInput">
      <div class="mb-3">
        <label for="name" class="form-label">Nama</label>
        <input type="text" class="form-control" id="name" />
      </div>
      <div class="mb-3">
        <label for="alamat" class="form-label">Alamat</label>
        <textarea type="address" class="form-control" id="alamat"></textarea>
      </div>
      <div class="mb-3">
        <label for="photo" class="form-label">Foto</label>
        <input
          type="file"
          class="form-control"
          id="photo"
          accept="image/png, image/jpeg"
        />
      </div>
      <button type="button" class="btn btn-primary" onclick="modal()">
        Submit
      </button>
    </form>
  </div>
  {%include "loading.html"%}
</body>
{%include "loadjs.html"%}
<script>
  function modal() {
    $("#modalLoading").modal("toggle");
    var url = "http://192.168.100.137:8880/dpo/dpos";
    var data = {
      name: $("#name").val(),
      alamat: $("#alamat").val(),
      photo: base64Image,
      mimeType: document.getElementById("photo").files[0].type,
    };
    $.ajax({
      url: url,
      data: JSON.stringify(data),
      type: "POST",
      crossDomain: true,
      contentType: "application/json; charset=utf-8",
      success: function (data) {
        $.post("http://192.168.100.137:5001/updatePickle", function (data) {
          $("#modalLoading").modal("toggle");
          Swal.fire({
            position: "center",
            icon: "success",
            title: "Data DPO Berhasil Disimpan",
            showConfirmButton: false,
            timer: 1500,
          });
        });
      },
      error: function (jqXHR, status, error) {
        console.log(error);
        $("#modalLoading").modal("toggle");
      },
    });
  }
  var base64Image;
  $("#photo").on("change", function () {
    $("#modalLoading").modal("toggle");
    new Compressor(this.files[0], {
      quality:0.4,
      success(result){
        getBase64(result);
      }
    })
    setTimeout(function () {
      $("#modalLoading").modal("toggle");
    }, 3000);
  });
  function getBase64(file) {
    var reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = function () {
      base64Image = reader.result.replace("data:", "").replace(/^.+,/, "");
    };
    reader.onerror = function (error) {
      console.log("Error: ", error);
    };
  }
</script>
